*{
    background-color: #C8C5C3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Editorial New light", sans-serif;
}


.mainhead h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 250px;
    text-align: center;
    align-self: center;
    height: 40vh;
    font-weight: 100;
    font-family: canopee;
    background-color: #1C1C19;
    color: #c8c5c3;
    width: 94%;
    margin-top: 8vh;
    margin-left: 2.5%;
}